* {
	box-sizing: border-box;
	background-color: thistle;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
}

#header {
	text-align: center;
	position: relative;
	margin: 0 auto;	
	width: 300px;
}

.paragraph {
	padding: 5px;
	border: 1px solid;
	border-radius: 4px;
	color: gray;
	font-family: Arial, sans-serif;
}