li {
    padding: 10px;
    margin: 5px;
}

header {
    padding: 15px;
}


footer {
    font-size: 12px;
    padding: 20px 0;
    margin: 50px;
}

footer ul {
    list-style: none;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer .col-sm-1 {
    display: flex;
    justify-content: center;
    padding: 2px 0;
}

.home {
    padding: 20px;
    margin: 20px;
    border-width: 2px;
    border-style: groove;
    border-color: lightgrey;
}