* {
	box-sizing: border-box;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
}

#top {
		background-color: navy;
}

body {
		background-color: thistle;
}

#header {
	text-align: center;
	position: relative;
	margin: 0 auto;	
	width: 300px;
}

.paragraph {
	position: relative;
	margin: 5px;
	padding: 10px;
	border: 1px solid;
	border-radius: 4px;
	color: gray;
	font-family: Arial, sans-serif;
}

.bottom {
	position: relative;
	padding: 10px;
}